            body {
                background-color: #121213;
                height: 100vh;
            }
            
            h1 {
                color: white;
            }
            
            #alert-message,
            .tile,
            h1 {
                font-family: Arial, Helvetica, sans-serif;
            }
            
            .board {
                width: 100vw;
                height: 60vh;
                display: grid;
                grid-gap: 10px;
                place-content: center;
                grid-template-rows: repeat(6, auto);
            }
            
            .tile {
                display: grid;
                align-items: center;
                width: 65px;
                height: 65px;
                border: 3.5px solid #3a3a3c;
                margin-bottom: .1em;
                margin-right: .25em;
                background-color: #121213;
                text-align: center;
                font-size: 2em;
                font-weight: bold;
                color: white;
            }

            .modal-body .demoDiv {
                display: flex;
            }

            .demoDiv .flex-row {
                flex-direction: row;
            }

            
            h6 {
                margin-top: 1em;
                margin-bottom: 1em;
            }

            .green {
                background-color: #449526;
                border-color: #449526;
            }

            .yellow {
                background-color: #c7a110;
                border-color: #c7a110;
            }

            .black {
                background-color: #808080;
                border-color: #808080;
            }


            
            .class {
                display: grid;
            }
            
            h3 {
                color: white;
            }
            
            h1 {
                text-align: center;
                margin-bottom: 0;
            }
            
            #alert-message {
                display: grid;
                place-content: center;
                margin-right: 30%;
                margin-left: 30%;
            }