.navbar-brand {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size: 1.5em;
    text-shadow: 4px 4px 5px white;
    letter-spacing: 5px;
}

.btn-primary, .btn-primary:hover, .primary:focus {
    background-color: #000;
    border-color: #000;
}

.btn:hover {
    background-color: #333;
    border-color: #333;   
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    background-color: #000;
    border-color: #000;
}


/* Light & Dark Mode */

/* Toggle Switch */
input[type="checkbox"] {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

.check {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background: #fff;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
}

input[type="checkbox"]:checked ~ .check {
    background-color: #000;
    box-shadow: 0 0 0 1600px #fff;
}

.check:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background: #000;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}

input[type="checkbox"]:checked ~ .check:before {
    transform: translateX(-50px);
}

.check:after {
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px);
}

.check:after p {
    background-color: #000;
}

input[type="checkbox"]:checked ~ .check:after {
    transform: translateX(0px);
}

#submit-button {
    margin-bottom: 5em;
}

.input-guess {
    display: grid;
    place-content: center;
}

#guess-input {
    margin-right: .25em;
}

#submit-button {
    padding: .25em;   
}

#submit-button:hover {
    padding: 10px;
    border: #000;
    background-color: rgb(83, 77, 77);
    color: #fff;
}